In [1]:
1+1

2

In [2]:
list(range(1,11))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [3]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

list rangeは範囲内の文字列を表示する。

In [5]:
list(range(2,22))

[2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21]

In [6]:
name='yunosuke'

In [7]:
len(name)

8

lenは文字列専用

name='yunosuke'

len(name)と
name.upper()には統一感がない

len()はほかのことにも使える
nameは制限されている。

メソッドという。

In [8]:
address = 'Tokyo,Japan'
address.split(',')

['Tokyo', 'Japan']

split(',')は　　,  で区切られる

In [9]:
address.split('o')

['T', 'ky', ',Japan']

In [11]:
address.index('p')

8

In [13]:
address.index('x')

ValueError: substring not found

In [14]:
address.index('o')

1

indexは文字が何番目にあるかを表示する。

In [15]:
address.upper()

'TOKYO,JAPAN'

upperはaddressを全て大文字にして表示する。

In [16]:
address.lower()

'tokyo,japan'

upper()と対になるメソッドはlower()である。
lower()はすべて小文字にして表示する。

lowerはupperと逆の意味。（英語において）

In [17]:
from datetime import *
date_a = date(2008, 1, 1)
date_b = date(2008, 1, 5)
result = date_b - date_a
print(result)

4 days, 0:00:00

In [19]:
from datetime import *
date_a = date(2008, 1, 1)
date_b = date(2009, 1, 1)
result = date_b - date_a
print(result)

366 days, 0:00:00

In [21]:
date_a.year

2008

In [22]:
date_a.month

1

In [23]:
date_a.day

1

.の後であることには変わりないのに
upperの跡には()がありyearの後にはない理由

name.upper()
括弧あり：何らかの処理をする。,,,,メソッド

date_a.year
括弧なし：データにアクセスしてみる。,,,,属性

メソッドと属性を合わせたもの,,,,オブジェクト

In [24]:
date.today()

datetime.date(2017, 5, 17)

In [25]:
birthday = date(1997,9,6)

In [26]:
today = date.today()

In [27]:
result = today - birthday

In [28]:
print(result)

7193 days, 0:00:00

In [29]:
today.weekday()

2

In [30]:
date_a

datetime.date(2008, 1, 1)

In [32]:
date_a.weekday()

1

|date|
|:--|
|year|
|month|
|day|

問題41　jupyter notebookでは無理

In [33]:
date_c = (1997,9,6)

In [34]:
tmp = '1997,9,6'

In [35]:
tmp2 = [1997,9,6]

日にちを表すときはdate_c()が好ましい。