In [1]:
1+1

2

In [2]:
a=[1,2,3,4,5]

In [3]:
合計/データ数

NameError: name '合計' is not defined

In [4]:
s=0


s=s+1
s=s+2
s=s+3
s=s+4
s=s+5

s

15

In [5]:
a=[1,2,3,4,5]

for  t in a:
    print(t)

1
2
3
4
5

リストaの各要素をtと呼び、tをprintする。

In [8]:
list_tohoku = [5349, 5478, 5344, 4644, 4968, 6259]
for val in list_tohoku:
    print(val)

5349
5478
5344
4644
4968
6259

In [14]:
s=0

for x in a:
    s=s+x

s

15

In [13]:
avg_tohoku = 0.0
for val in list_tohoku:
    avg_tohoku += val
avg_tohoku /= len(list_tohoku)
print(avg_tohoku)

5340.333333333333

+=は順番に足していくこと。

In [18]:
a

[1, 2, 3, 4, 5]

In [20]:
s=0

for x in a:
    s=s+x 

s/len(a)

3.0

In [21]:
(3148+2991+2966+2457)/4

2890.5

In [22]:
list_shikoku = [3148, 2991, 2966, 2457]

s=0
for x in list_shikoku:
    s+=x
    
s/len(list_shikoku)

2890.5

In [23]:
from statistics import *

In [24]:
mean(list_shikoku)

2890.5

meanは平均値

In [27]:
dict_tohoku = {'aomori': 5349, 'akita': 4644, 'sendai': 5344,
'Yamagata': 4968, 'fukushima': 6259, 'morioka': 5478}

In [28]:
dic={'A':100,'B':20,'C':3000}

In [29]:
dic['A']

100

In [30]:
for key in dic:
    print(key)

A
B
C

In [32]:
for key in dict_tohoku:
    print(dict_tohoku[key])

5349
4644
5344
4968
6259
5478

In [33]:
for key in dict_tohoku:
    print(key)

aomori
akita
sendai
Yamagata
fukushima
morioka

In [34]:
dict_tohoku = {'aomori': 5349, 'akita': 4644, 'sendai': 5344,
'Yamagata': 4968, 'fukushima': 6259, 'morioka': 5478}

In [36]:
s=0

for x in dict_tohoku:
    print(dict_tohoku[x])
    s+=dict_tohoku[x]
    
s/len(dict_tohoku)

5349
4644
5344
4968
6259
5478

5340.333333333333

In [37]:
b=[5,4,3,2]

In [39]:
s=0

for x in b:
    s=s+x
    
s/len(b)

3.5

In [41]:
a={'A':10,'B':100,'C':1000}
s=0

for x in a:
    s+=a[x]
    
s/len(a)

370.0

In [42]:
a.values()

dict_values([10, 100, 1000])

In [44]:
s=0  

for x in a.values():
    s+=x
    
s/len(a)

370.0

In [46]:
a={10:'A',100:'B',1000:'C'}
s=0

for x in a:
    s+=a[x]

s/len(a)

TypeError: unsupported operand type(s) for +=: 'int' and 'str'